table{
     border-collapse: collapse;
    width:60%;
 }
th{
    background: #95c1dd;
}
th,td{
    border:1px solid #4c666a;
    padding:5px 30px 5px 10px;
}
.up{
    background: #95c1dd url("../img/up.png") right center no-repeat;
}

.down{
    background: #95c1dd url("../img/down.png")  right center no-repeat;
}